.wrap-chart {
  overflow-x      : hidden;
  position        : relative;
  height          : calc(4.11rem * 5);
  width           : 40vw;
  border-radius   : 10px;
  box-shadow      : -17px 17px 2px 0px #13b6dc, -17px 17px 20px 0px #13b6dc;
  background-color: #504e64;
  margin-top      : 15vh;

  span.name {
    font-family   : Roboto;
    font-size     : 18px;
    font-style    : normal;
    font-weight   : 400;
    line-height   : 21px;
    letter-spacing: 0.04em;
    text-align    : left;
    position      : relative;
    bottom        : 0.3rem;
  }

  span.number {
    font-family   : Roboto;
    font-size     : 28px;
    font-style    : normal;
    font-weight   : 300;
    line-height   : 33px;
    letter-spacing: 0.04em;
    text-align    : left;
    margin-right  : 1.25rem;
  }

  span.number-mobile {
    display: none;
  }

  span.serial-number>span {
    font-family   : Raleway;
    font-size     : 32px;
    font-style    : normal;
    font-weight   : 500;
    line-height   : 38px;
    letter-spacing: 0.04em;
    text-align    : left;
  }

  div.item {
    display              : grid;
    grid-template-columns: 1fr 1fr 8fr 2fr;
    align-items          : center;
    column-gap           : 15px;
    height               : 4rem;
    list-style-type      : none;

    .serial-number {
      width      : 100%;
      line-height: 4rem;
      position   : relative;
      background : #424242;
      background : linear-gradient(89.3deg, #3c3a50 -92.83%, rgba(80, 78, 100, 0.5) 229.57%);

      span {
        font-weight: 500;
        font-size  : 40px;
        line-height: 4rem;
        position   : relative;
        top        : 30%;
        left       : 30%;
      }
    }

    .serial-number.first-num {
      border-top-left-radius: 10px;
      background            : #3C3A50;
    }

    &.first-num {
      background   : #3C3A50;
      border-radius: 10px 10px 0px 0px;
    }

    img {
      width     : 100%;
      display   : block;
      align-self: center;
    }

    .line-bg {
      width        : 100%;
      height       : 10px;
      background   : #424242;
      box-shadow   : -2px 4px 10px 1px rgba(0, 0, 0, 0.25);
      border-radius: 10px;

      .line-bg-inner {
        position        : relative;
        top             : 0.15rem;
        left            : 0.15rem;
        width           : 10vw;
        border-radius   : 10px;
        background-color: #61cdbb;
        border          : 2px solid #61cdbb;
      }
    }
  }

  img {
    position: relative;
  }

  img.avatar {
    border-radius: 50%;
  }

  .btn {
    background       : #3978f9;
    border-radius    : 10px;
    width            : 110px;
    height           : 35px;
    font-family      : Roboto;
    font-style       : normal;
    font-weight      : normal;
    font-size        : 16px;
    line-height      : 19px;
    letter-spacing   : 0.04em;
    box-shadow       : 0px 4px 10px 1px rgb(0 0 0 / 25%);
    border           : none;
    color            : #ffffff;
    position         : absolute;
    // right         : 16.5vw;
    // top           : 22.45vh;
    right            : 5.5vw;
    top              : 9.65vh;
  }
}