@media (max-width: 991px) {
  .welcome-slide {
    display        : flex;
    justify-content: flex-start;
    display        : -webkit-flex;
    flex-direction : column;
    margin-left    : 10vw;
    height         : calc(100vh + 4.11*5rem) !important;
    margin-bottom  : 15vh;

    #hidden_square {
      top : 86% !important;
      left: 13% !important;
    }

    .slide-0__btn-lg {
      height: 7vh;
    }
  }

  #top-miners {
    display             : block !important;
    width               : fit-content;
    color               : white;
    font-family         : Oswald;
    font-weight         : normal;
    font-size           : 75px;
    line-height         : 100px;
    letter-spacing      : 0.03em;
    -webkit-margin-after: 0.1rem;
    margin-block-end    : 0.1rem;
    position            : absolute;
    top                 : calc(4.11rem * 5 + 56vh);
    left                : 8vw;
  }

  #arrow {
    display  : block !important;
    left     : 25.5vw;
    position : absolute;
    width    : 13vw;
    top      : calc(4.11rem * 5 + 83vh);
    transform: rotate(115deg);

  }

  .welcome {
    width     : 40% !important;
    margin-top: 180px !important;
  }

  .wrap-chart {
    height     : 354px !important;
    margin-left: auto;
    box-shadow : -25px 25px 2px 0px rgb(72 70 92 / 10%),
      -25px 25px 20px 0px rgb(72 70 92 / 10%);

    .btn {
      position: relative;
      top     : 1vh;
      right   : -2vw;
    }

    .first-num {
      height: 4.5rem !important;
    }

    .name-line {
      height         : 4rem;
      display        : flex;
      flex-direction : column;
      justify-content: flex-end;
    }

    .item {
      height                  : 100%;
      grid-template-columns   : 2fr 7fr !important;
      column-gap              : 10px !important;
      // padding-right        : 1vw;
      padding-right           : 1rem;

      img {
        width       : 75% !important;
        justify-self: center;
      }

      span.serial-number,
      span.number {
        display: none;
      }

      span.number-mobile {
        display       : grid;
        font-family   : Roboto;
        font-size     : 19px;
        font-style    : normal;
        font-weight   : 100;
        line-height   : 25px;
        letter-spacing: 0.04em;
        text-align    : end;
        position      : relative;
        bottom        : 2rem;
      }
    }

    #chart {
      border-bottom-left-radius: 10px;

      :nth-child(5) {
        height: 100%;
      }

      :nth-child(5)>span {
        border-bottom-left-radius: 10px;
      }
    }
  }

  .down-arrow {
    display: none;
  }

  .points {
    display: none;
  }

  .ellipse {
    right: 14vw !important;
    top  : 50vh !important;
  }

  .rhomb {
    position: absolute !important;
    right   : 39vw !important;
    top     : 48vh !important;
    z-index : -3 !important;
  }

  .bg-line.n-1 {
    width: 42vw !important;
    right: 0vw !important;
    top  : 77vh !important;
    left : 11vw !important;
  }

  .bg-line.n-2 {
    width     : 36vw !important;
    top       : calc(4.11rem * 5 + 70vh) !important;
    right     : 54vw !important;
    background: none !important;
  }

  .bg-line.n-3 {
    top  : calc(4.11rem * 5 + 74.7vh) !important;
    right: 60vw !important;
  }
}

@media (max-width: 991px) {
  .welcome-slide {
    height: inherit !important;
  }

  .wrap-chart {
    .item {
      grid-template-columns: 1fr 7fr !important;
    }
  }

  .wrap-chart {
    width: 75vw;
  }

  .wrap-chart .btn {
    position: relative;
    top     : -1vh;
    right   : -35vw;
  }

  .welcome-slide {
    // margin-right: 10vw;
    margin-bottom: 300px;

    #top-miners {
      position: absolute;
      top     : calc(961px + 5vw);
    }

    #hidden_triangle {
      display: none;
    }

    #arrow {
      width: 24vw;
      top  : calc(977px + 5vw);
      left : 220px;
    }
  }

  #triangle {
    position: absolute;
    bottom  : -85% !important;
    right   : 48%;
  }

  #arrow {
    display  : block !important;
    left     : 62.5vw;
    position : absolute;
    width    : 94px;
    height   : 150px;
    transform: rotate(0deg);
  }

  h1#top-miners {
    width: min-content;
  }

  .ellipse-blurred {
    z-index: 1 !important;
    width  : 260px !important;
    top    : -50px !important;
    right  : -68px !important;
  }

  .ellipse {
    right  : 6vw !important;
    top    : calc(120px + 5vw) !important;
    width  : 12vw;
    z-index: 3;
  }

  .slide-0__btn-lg {
    height  : calc(30px + 2vw) !important;
    position: absolute;
    top     : calc(495px + 5vw) !important;
  }

  .rhomb {
    right  : 67vw !important;
    top    : calc(420px + 5vw) !important;
    z-index: 0 !important;
    width  : 17vw;
  }

  .bg-line.n-1 {
    width: 49vw !important;
    top  : calc(540px + 10vw) !important;
  }

  .bg-line.n-2 {
    transform : rotate(180deg);
    background: linear-gradient(90deg, #14c2e7, #d9a404) !important;
    top       : calc(445px + 5vw) !important;
    right     : 8vw !important;
    width     : 52vw !important;
    height    : 5px;
  }

  .bg-line.n-3 {
    transform: rotate(180deg);
    width    : 43.25vw !important;
    top      : calc(470px + 5vw) !important;
    right    : 10vw !important;
    height   : 5px;
  }

  .welcome .btn {
    width: 100% !important;
  }

  .welcome {
    width : 100% !important;
    height: inherit !important;
  }

  .welcome #p-slogan {
    margin-bottom: 100px !important;
  }

  .wrap-chart {
    margin-top: 100px;
  }
}

@media (max-width: 668px) {
  .wrap-chart {
    .item {
      gap: 0px !important;

      .name-line {
        margin-top: 3%;
      }
    }
  }
}

@media (min-width: 400px) and (max-width: 991px) {
  #top-miners {
    top: calc(788px + 54vw) !important
  }

  #arrow {
    top: calc(808px + 54vw) !important;

  }
}

@media (min-width: 450px) and (max-width: 991px) {
  #p-slogan {
    width: 60vw;
  }

  @media (min-width: 500px) {
    .rhomb {
      top: calc(130px + 63vw) !important;
    }

    .bg-line.n-1 {
      top: calc(270px + 63vw) !important;
    }

    .bg-line.n-2 {
      top: calc(150px + 63vw) !important;
    }

    .bg-line.n-3 {
      top: calc(175px + 63vw) !important;
    }

    .slide-0__btn-lg {
      top: calc(210px + 63vw) !important;
    }

    #top-miners {
      position: absolute;
      top     : calc(768px + 54vw) !important
    }

    #arrow {
      top : calc(788px + 54vw) !important;
      left: 47vw !important;
    }

    .wrap-chart .btn {
      position: relative;
      top     : -1vh;
      right   : -47vw;
    }
  }

  @media(min-width: 600px) {
    .rhomb {
      width: 14vw;
    }

    #p-slogan {
      width: 45vw;
    }

    #h1-skin-miners {
      width     : 66vw !important;
      margin-top: 10vw !important;
    }

    .ellipse-blurred {
      width: 48vw !important;
    }

    .ellipse {
      width: 10vw;
      top  : calc(150px + 5vw) !important;
    }

    @media (min-width: 700px) {
      .wrap-chart {
        margin-top: 119px;
      }
    }
  }

  @media (min-width: 850px) {
    .wrap-chart {
      margin-top: 200px;
    }

    #top-miners {
      top: calc(938px + 40vw) !important;
    }

    #arrow {
      top   : calc(938px + 40vw) !important;
      height: 200px;
    }

    .rhomb {
      top  : calc(130px + 63vw) !important;
      width: 12vw !important;
    }

    .bg-line.n-1 {
      top: calc(290px + 63vw) !important;
    }

    .bg-line.n-2 {
      top: calc(150px + 63vw) !important;
    }

    .bg-line.n-3 {
      top: calc(175px + 63vw) !important;
    }

    .slide-0__btn-lg {
      top  : calc(210px + 63vw) !important;
      width: 60vw !important;
    }
  }

  @media (min-width: 900px) {
    #top-miners {
      top: calc(808px + 54vw) !important;
    }

    #arrow {
      top   : calc(808px + 54vw) !important;
      height: 180px;
    }
  }
}