@media (max-width: 991px) {
  .welcome-slide {
    display        : flex;
    justify-content: flex-start;
    display        : -webkit-flex;
    flex-direction : column;
    margin-left    : 10vw;
  }

  .welcome {
    width: 50%;
  }

  .down-arrow {
    display: none;
  }
}

@media (min-width: 575px) and(max-width: 767px) {
  // .welcome-slide {
  // width: 540px;
  // }
}

@media (max-width: 575px) {
  // .welcome-slide {
  //   width: 100%;
  // }
}