.welcome-slide {
  display        : flex;
  justify-content: space-evenly;
  display        : -webkit-flex;

  #hidden_triangle {
    position: absolute;
    top     : 7%;
    left    : 18%;
  }

  #hidden_square {
    position: absolute;
    top     : 34%;
    left    : 33%;
  }
}

.welcome {
  height    : 50%;
  width     : 35%;
  margin-top: 333px;

  .h1-skin-miners {
    background             : linear-gradient(129.76deg, #c471ed -34.68%, #007bff 148.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display                : inline-block;
    font-family            : Oswald;
    font-style             : normal;
    font-weight            : normal;
    font-size              : 100px;
    line-height            : 100px;
    letter-spacing         : 0.04em;
    margin-block-end       : 0.1rem;
    margin                 : auto;
  }

  #p-slogan {
    margin-top    : 18px;
    margin-bottom : 12px;
    font-family   : Noto Sans;
    font-size     : 26px;
    font-style    : normal;
    font-weight   : 400;
    line-height   : 33px;
    letter-spacing: 0.02em;
    text-align    : left;
    margin-bottom : 50px;
  }

  .btn {
    background   : #3978f9;
    border-radius: 10px;
    width        : 400px;
    height       : 14%;
    font-family  : Roboto;
    font-style   : normal;
    font-weight  : normal;
    font-size    : 23px;
    line-height  : 27px;
    text-align   : center;
    border       : none;
    color        : #ffffff;
  }
}

//=========================== Аксессуары ===========================\\
.bg-line {
  position     : absolute;
  height       : 7px;
  border-radius: 5px;
  box-shadow   : -2px 4px 10px 1px rgba(0, 0, 0, 0.25);
}

.bg-line.n-1 {
  width     : 29vw;
  background: linear-gradient(90deg, #027bff, #d784ff);
  right     : 20vw;
  top       : 10vh;
}

.bg-line.n-2 {
  width     : 36vw;
  background: linear-gradient(90deg, #14c2e7, #d9a404);
  top       : calc(4.11rem * 5 + 21vh);
  right     : 9vw;
}

.bg-line.n-3 {
  width     : 25.25vw;
  background: linear-gradient(90deg, #161012, #423201);
  top       : calc(4.11rem * 5 + 24.7vh);
  right     : 10vw;
}

.rhomb {
  position: absolute;
  right   : 49vw;
  top     : calc(4.11rem * 5 + 12.7vh);
}

.points {
  position: absolute;
  right   : 7vw;
  top     : 5vh;
  z-index : -1;
}


.ellipse {
  position: absolute;
  right   : 8vw;
  top     : 21vh;
}

.ellipse-blurred {
  position: absolute;
  z-index : -2;
  right   : 5vw;
  top     : -3vh;
}

.down-arrow {
  position: absolute;
  right   : 6.5vw;
  top     : calc(15rem + 6vh);
  z-index : -1;
}

#top-miners {
  display: none;
}

#arrow {
  display: none;
}

//=========================== Аксессуары ===========================\\


@media (min-width: 1280px) and(max-width: 1601px) {

  #hidden_square {
    top : 36vh;
    left: 30vw;
  }

  #hidden_triangle {
    top : 7vh;
    left: 13vw;
  }
}

@media (min-width: 991px) and(max-width: 1280px) {
  .down-arrow {
    right: 5.5vw;
  }
}