.welcome-slide {
  display        : flex;
  justify-content: space-evenly;
  display        : -webkit-flex;

  #hidden_triangle {
    position: absolute;
    top     : 7%;
    left    : 23%;
  }

  #hidden_square {
    position: absolute;
    top     : 34%;
    left    : 37%;
  }
}

.welcome {
  height    : 50%;
  width     : 35%;
  margin-top: 333px;

  .h1-skin-miners {
    background             : linear-gradient(129.76deg, #c471ed -34.68%, #007bff 148.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display                : inline-block;
    font-family            : Oswald;
    font-style             : normal;
    font-weight            : normal;
    font-size              : 100px;
    line-height            : 100px;
    letter-spacing         : 0.04em;
    margin-block-end       : 0.1rem;
    margin                 : auto;
  }

  #p-slogan {
    margin-top    : 18px;
    margin-bottom : 12px;
    font-family   : Noto Sans;
    font-size     : 26px;
    font-style    : normal;
    font-weight   : 400;
    line-height   : 33px;
    letter-spacing: 0.02em;
    text-align    : left;
    margin-bottom : 50px;
  }

  .btn {
    background   : #3978f9;
    border-radius: 10px;
    width        : 400px;
    height       : 14%;
    font-family  : Roboto;
    font-style   : normal;
    font-weight  : normal;
    font-size    : 23px;
    line-height  : 27px;
    text-align   : center;
    border       : none;
    color        : #ffffff;
  }
}

@media (min-width: 1280px) and(max-width: 1601px) {
  .welcome-slide {
    height: 100vh;

    #hidden_square {
      top : 36vh;
      left: 30vw;
    }

    #hidden_triangle {
      top : 7vh;
      left: 13vw;
    }
  }

  // .welcome {
  //   top  : 37vh;
  //   left : 2vw;
  //   width: 27vw;
  // }

  .wrap-chart {
    height        : 50vh;
    width         : 46vw;
    top           : -19vh;
    // margin-left: 34vw;
    left          : 6%;

    .down-arrow {
      bottom: 36vh;
      left  : 34vw;
    }

    .ellipse {
      left  : 27vw;
      bottom: 61.5vh;
    }

    .points {
      left  : 42.5vw;
      bottom: 70vh;
    }

    .bg-line.n-1.n-1 {
      top  : -62vh;
      width: 37vw;
      right: 0px;
    }

    .bg-line.n-2.n-2 {
      bottom: 0.5vh;
      width : 43vw;
      right : -6vw;
    }

    .bg-line.n-3.n-3 {
      top  : 2.5vh;
      width: 34vw;
      right: -14vw;
    }

    .btn {
      left  : 32vw;
      bottom: 42.1vh;
    }

    .ellipse-blurred {
      bottom   : 97vh;
      // left  : 28vw;
    }
  }
}

@media (min-width: 991px) and(max-width: 1280px) {
  .wrap-chart {
    .ellipse-blurred {
      bottom   : 97vh;
      // left  : 28vw;
    }

    .ellipse {
      left  : 24vw;
      bottom: 61.5vh;
    }

    .ellipse-blurred {
      bottom: 97vh;
      left  : 20vw;
    }

    .down-arrow {
      bottom: 36vh;
      left  : 31.5vw;
    }
  }

  .welcome-slide {
    display: block;
  }

  .welcome {
    margin-top: 0px;
  }
}

@media (max-width: 991px) {
  .wrap-chart {
    display: none;
  }
}

@media (min-width: 575px) and(max-width: 767px) {
  // .welcome-slide {
  // width: 540px;
  // }
}

@media (max-width: 575px) {
  // .welcome-slide {
  //   width: 100%;
  // }
}