.wrap-dl {
  position: relative;
  width   : 100%;
  height  : 100%;
  display : block;

  p {
    position : absolute;
    opacity  : .6;
    top      : 25vh;
    margin   : 0;
    font-size: 1.5rem;
  }

  .bg-line {
    display      : block;
    height       : 5px;
    border-radius: 5px;
    position     : absolute;
  }

  .bg-line.n-1 {
    top       : 5.5vh;
    left      : 35vw;
    width     : 39vw;
    background: linear-gradient(90deg, #C172ED, #12C2E9);
  }

  .bg-line.n-2 {
    top       : 8.5vh;
    left      : 50vw;
    width     : 23vw;
    background: linear-gradient(90deg, #181519, #A3D9E5);
  }

  .download-img {
    position: absolute;
    z-index : -1;
    bottom  : 0;
    left    : 30%;
    width   : 70%;
    display : inline-block;
  }
}