.wrap-how {
  position: relative;
  width   : 100%;
  height  : 100%;
  display : block;

  form * {
    font-size: 2vh;
  }

  form h4 {
    font-size: 3vh;
  }

  form {
    background: #24232C;
    box-shadow: -5px -5px 30px 5px #D9A404,
      15px 15px 0px 5px #007BFF;
    border-radius: 25px;
    padding      : 2rem;
    margin-top   : 15vh;
    position     : absolute;

    left     : -2vw;
    min-width: 230px;
    width    : 20vw;

    label {
      font-family: Roboto;
      font-style : normal;
      font-weight: normal;
      line-height: 23px;
      color      : #E1E1E1;
    }

    a {
      text-decoration: none;
      text-align     : center;
    }
  }

  form:before {
    content : ' ';
    position: absolute;
    z-index : -2;
    right   : -15%;
    top     : -17%;
    width   : 120px;
    height  : 120px;

    background-image : url(../../../images/slide_2_how/points.svg);
    background-repeat: no-repeat;
    background-size  : contain;
  }

  form:after {
    content : ' ';
    position: absolute;
    right   : -15%;
    bottom  : -10%;
    width   : 80px;
    height  : 100px;

    background-image : url(../../../images/slide_2_how/pyramid.svg);
    background-repeat: no-repeat;
    background-size  : contain;
  }

  p {
    font-size: 1.5rem;
    position : absolute;
    width    : 60%;
    opacity  : .6;
    top      : 43vh;
    margin   : 0;
  }

  @media (max-width: 1440px) {
    // form {
    //   left : -11vw;
    //   width: auto;
    // }

    // p {
    //   width: 46%;
    // }
  }

  @media (max-width: 1170px) {
    form {
      left: -6vw;
      top : 2vh;
    }

    p {
      display: none;
      width  : 58%;
    }
  }

  @media (max-width: 1000px) {
    form {
      left: -8vw;
    }

    p {
      width: 55%;
    }
  }

  @media (max-width: 910px) {
    form {
      left: -12vw;
    }

    p {
      width: 50%;
      top  : 36vh;
    }
  }

  @media (max-width: 850px) {
    form {
      left: -15vw;
    }

    p {
      width: 40%;
      top  : 25vh;
    }
  }

  .bg-line {
    display      : block;
    height       : 5px;
    border-radius: 5px;
    position     : absolute;
    z-index      : -1;
  }

  .bg-line.n-1 {
    top       : 5.5vh;
    left      : 0vw;
    width     : 39vw;
    background: linear-gradient(90deg, #15C1E5, #D9A404);
  }

  .bg-line.n-2 {
    top       : 8.5vh;
    left      : 13vw;
    width     : 25vw;
    background: linear-gradient(90deg, #161012, #413100);
  }

  .bg-line.n-3 {
    top       : 11.5vh;
    left      : 18vw;
    width     : 19vw;
    background: linear-gradient(90deg, #151013, #110D00);
  }

  .bg-line.n-4 {
    top       : 68.5vh;
    left      : 13vw;
    width     : 25vw;
    background: linear-gradient(90deg, #151015, #007AFD);
  }

  .bg-line.n-5 {
    top       : 73vh;
    left      : 6vw;
    width     : 34vw;
    background: linear-gradient(90deg, #D484FF, #027BFF);
  }
}