.wrap-how {
  position   : relative;
  width      : 100%;
  height     : 100%;
  display    : block;
  // top     : 12%;

  form {
    background   : #24232C;
    box-shadow   : -5px -5px 30px 5px #D9A404;
    border-radius: 25px;
    padding      : 2rem;
    z-index      : 1;
    margin-top   : 15vh;
    position     : absolute;

    label {
      font-family: Roboto;
      font-style : normal;
      font-weight: normal;
      font-size  : 20px;
      line-height: 23px;
      color      : #E1E1E1;
    }

    a {
      text-decoration   : none;
      text-align        : center;
      // margin-top     : 1rem;
    }

    #pyramid {
      position: absolute;
      left    : 14vw;
      bottom  : -5vh;
    }
  }

  .blue-back {
    position     : absolute;
    width        : 300px;
    height       : 450px;
    right        : 81px;
    top          : 158px;
    background   : #007BFF;
    border-radius: 25px;
  }

  p {
    font-size: 1.5rem;
    position : absolute;
    width    : 65%;
    opacity  : .6;
    top      : 43vh;
    margin   : 0;
  }

  .bg-line {
    display      : block;
    height       : 5px;
    border-radius: 5px;
    position     : absolute;
    z-index      : -1;
  }

  .bg-line.n-1 {
    top       : 5.5vh;
    left      : 0vw;
    width     : 39vw;
    background: linear-gradient(90deg, #15C1E5, #D9A404);
  }

  .bg-line.n-2 {
    top       : 8.5vh;
    left      : 13vw;
    width     : 25vw;
    background: linear-gradient(90deg, #161012, #413100);
  }

  .bg-line.n-3 {
    top       : 11.5vh;
    left      : 18vw;
    width     : 19vw;
    background: linear-gradient(90deg, #151013, #110D00);
  }

  .bg-line.n-4 {
    top       : 68.5vh;
    left      : 13vw;
    width     : 25vw;
    background: linear-gradient(90deg, #151015, #007AFD);
  }

  .bg-line.n-5 {
    top       : 73vh;
    left      : 6vw;
    width     : 34vw;
    background: linear-gradient(90deg, #D484FF, #027BFF);
  }
}