.wrap-mining {
  position   : relative;
  width      : 100%;
  height     : 100%;
  display    : block;
  // top     : 12%;

  .frame {
    position: relative;
    width   : 28%;
    height  : 30%;
    top     : 50%;
    left    : 70%;

    img {
      width: 100%;
    }

    p {
      font-family   : serif;
      font-size     : 19px;
      font-style    : normal;
      font-weight   : 400;
      line-height   : 25px;
      letter-spacing: 0.02em;
      text-align    : left;
    }
  }

  p {
    font-size: 1.5rem;
    position : absolute;
    width    : 65%;
    opacity  : .6;
    top      : 60vh;
    margin   : 0;
  }

  video {
    position: absolute;
    width   : 100%;
    height  : 100%;
    // bottom  : 20vh;
  }
}