.wrap-mining {
  position: relative;
  width   : 100%;
  height  : 75%;
  display : block;


  .frame {
    position: relative;
    top     : 55%;
    width   : 30%;
    left    : 70%;

    border                : 10px solid transparent;
    // border-image-source: url(../../../images/slide_2_how/pink-frame.svg);
    border-image-slice    : 20 fill;
    border-image-repeat   : stretch;

    padding: 1%;

    p {
      width    : 90%;
      margin   : 5% 5% 20% 5%;
      font-size: 18px;
    }
  }

  p {
    opacity: .6;
  }

  p.text {
    font-size: 1.25rem;
    position : absolute;
    width    : 84%;
    top      : 79%;
    margin   : 0;
  }

  video {
    // will-change: scroll-position;
    will-change: transform;
    position   : absolute;
    top        : 0;
    width      : 100%;
    height     : 100%;
    z-index    : -1;
  }

  @media (max-width: 1440px) {
    .frame {
      position: relative;
      top     : 50%;
      right   : 0;
    }
  }

  @media (max-height: 1450px) {
    p.text {
      top: 95%;
    }
  }

  @media (max-height: 1000px) {
    p.text {
      top: 94%;
    }
  }

  @media (max-height: 1150px) {
    p.text {
      top: 100%;
    }
  }

}