.wrap-mining {
  position   : relative;
  width      : 100%;
  height     : 100%;
  display    : block;
  // top     : 12%;

  .frame {

    position : relative;
    top      : 50%;
    right    : -60%;

    img {
      width: 100%;
    }

    p {
      font-family   : serif;
      font-size     : 19px;
      font-style    : normal;
      font-weight   : 400;
      line-height   : 3vh;
      letter-spacing: 0.02em;
      text-align    : left;
    }

    @media (max-width: 1700px) {
      p {
        font-size: 15px !important;
      }
    }
  }

  p {
    font-size: 1.5rem;
    position : absolute;
    width    : 65%;
    opacity  : .6;
    top      : 60vh;
    margin   : 0;
  }

  video {
    position: absolute;
    width   : 100%;
    height  : 100%;
    // bottom  : 20vh;
  }
}