.wrap-reg {
  position   : relative;
  width      : 100%;
  height     : 75vh;
  display    : block;
  // top     : 12%;

  p {
    position : absolute;
    opacity  : .6;
    top      : 7vh;
    margin   : 0;
    font-size: 1.25rem;
  }

  .registration-img {
    position: absolute;
    z-index : -1;
    left    : 3%;
    top     : 0%;
    width   : 100%;
  }
}