.slide-2 {
  ul {
    list-style-type: none;
    margin-top     : 10vh;
    margin-left    : -2vw;
    position       : relative;

    li {
      margin-bottom: 15vh;
      position     : relative;

      i.circle {
        background: #424242;
      }

      i.circle,
      h2 {
        display: inline-block;
        cursor : pointer;
      }

      i.circle {
        width        : 15px;
        height       : 15px;
        border-radius: 100%;
        margin-right : .5vw;
      }

      h2 {
        a {
          transition     : .5s;
          text-decoration: none;
          color          : inherit;

          font-family: "Noto Sans";
          font-weight: normal;
          opacity    : 0.3;

          // Запрет на выделение текста
          /* iOS Safari */
          -webkit-touch-callout: none;
          /* Chrome/Safari/Opera */
          -webkit-user-select  : none;
          /* Konqueror */
          -khtml-user-select   : none;
          /* Firefox */
          -moz-user-select     : none;
          /* Internet Explorer/Edge */
          -ms-user-select      : none;
          /* Non-prefixed version, currently
          not supported by any browser */
          user-select          : none;
        }
      }

    }

    i.line {
      background: #424242;
      position  : absolute;
      display   : block;
      z-index   : -1;
      left      : 2.34vw;
      width     : 5px;
      height    : calc(100% - 64vh);
    }

    i.line.l1 {
      top: 27px;
    }

    i.line.l2 {
      top: calc(20vh + 42px);
    }

    i.line.l3 {
      top: calc(40vh + 57px);
    }

    i.line.active {
      background: #61CDBB;
    }

    li.active {

      i.circle {
        background: #61CDBB;
      }

      h2 {

        a {
          opacity              : 1;
          // Запрет на выделение текста
          -webkit-touch-callout: initial;
          -webkit-user-select  : initial;
          -khtml-user-select   : initial;
          -moz-user-select     : initial;
          -ms-user-select      : initial;
          user-select          : initial;

        }
      }
    }
  }

  .wrap-tabs {
    display              : grid;
    grid-template-columns: 2fr 5fr;

    .content {
      overflow-y : scroll;
      overflow-x : hidden;
      width      : 100%;
      height     : 100%;
      margin-top : -3.7rem;
      padding-top: 3.7rem;

      #hidden_account {
        position: absolute;
        right   : 33vw;
        top     : 13vh;
      }

      #hidden_circle {
        position: absolute;
        left    : 0vw;
        top     : 34vh;
      }

      #hidden_square {
        position: absolute;
        right   : 39vw;
        top     : 58vh;
      }

      #hidden_triangle {
        position: absolute;
        right   : 46vw;
        top     : 38vh;
      }

      #hidden_square1 {
        position: absolute;
        right   : 33vw;
        top     : 32vh;
      }

      #hidden_triangle1 {
        position: absolute;
        left    : 0vw;
        top     : 76vh;
      }

      #hidden_square2 {
        position: absolute;
        left    : 0vw;
        top     : 20vh;
      }
    }
  }
}