.carousel {
  margin-bottom: 50px;
  min-height: inherit !important;
}

.carousel-indicators .active{
  background-color: green;  
}

.active_color{
  background-color: green !important;
}

.slide-header{
  font-family: Open Sans;
  font-size: 47px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 30% 0 10% 0;
 
}

.first-slider-image{
    position: relative;
    left: -35%;
    overflow: hidden;
    width: 158%;
    height: auto;
    max-width: inherit !important;
}

.slide-text {
  font-family: PT Serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-align: left;
  
}

.yellow_arrow{
  position: relative;
  width: 60%;
  margin-left: 40%;
  //margin-top: 10%;
}

.download{
  margin-bottom: 13%;
}
.first-slider-image{
  //margin-bottom: 10%;
}
.slider-btns{
  width: 21px !important;
  height: 21px !important;
  border-radius: 30px !important;
  border: 0px !important;
  margin: 0 !important;
}
.btn-line{
  width: 40px;
  background-color: gray;
  height: 5px;
  top: 8px;
  position: relative;
}

.slide-header__video{
  margin-bottom: 0 !important;
}

.download {
  padding: 0 !important;
}

.slide-text__download {
  margin-top: 60px;
}

@media (min-width: 0px) {
  .slide-header{
    margin-bottom: 30px;
    margin-top: 25%;
  }
  .yellow_arrow{
    width: 70%;
    margin-left: 90px;
    //margin-bottom: 60px;
  }
  .slide-text{
    font-size: 1.4rem;
    line-height: 30px;
    margin-bottom: 60px;
  }
  .first-slider-image{
    margin-bottom: 60px;
  }
  .download{
    margin-bottom: 20%;
  }
  .slide-text__video {
    font-size: 1.1rem;
    line-height: 26px;
  }
}
@media (min-width: 600px){
  .slide-header{
    margin-bottom: 45px;
    margin-top: 150px;
    font-size: 4rem;
  }
}
@media (min-width: 700px){
  .slide-header{
    margin-top: 100px;
  }
  .slide-text{
    line-height: 40px;
    font-size: 2.1rem; 
  }
}

//slide-height
.carousel {
  height: 228vw ;
}

@media (min-width: 370px) {
  .carousel {
    height: 210vw;
  }
}

@media (min-width: 400px) {
  .carousel {
    height: 200vw;
  }
}

@media (min-width: 500px){
 .carousel{
   height: 184vw;
 }
}

@media (min-width: 570px){
  .carousel{
    height: 170vw;
  }
 }
// @media (max-height: 800px){
 
// }