.carousel {
  margin-bottom: 50px;
  min-height   : inherit !important;
}

.carousel-indicators .active {
  background-color: rgba(17, 249, 210, 0.7);
}

.active_color {
  background-color: rgba(17, 249, 210, 0.7) !important;
}

.slide-header {
  font-family   : "Oswald";
  font-size     : 47px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 34px;
  letter-spacing: 0.02em;
  text-align    : center;
  margin        : 30% 0 10% 0;

}

.carousel-inner {
  height  : 100%;
  overflow: visible;
}

.first-slider-image {
  position     : relative;
  left         : -35%;
  top          : -1.5rem;
  z-index      : -1;
  overflow     : hidden;
  padding      : 0px;
  max-width    : inherit !important;
  width        : 141vw;
  height       : 81vw;
  margin-bottom: 0 !important;
}

.slide-text {
  font-family   : PT Serif;
  font-size     : 21px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 39px;
  letter-spacing: 0.04em;
  text-align    : left;
}

.yellow_arrow {
  max-width: 70%;
  height   : 15vh;
  margin   : auto;
}

.download {
  // width     : 90vw;
  height    : 45vw;
  object-fit: cover;
}


.slider-btns {
  width        : 21px !important;
  height       : 21px !important;
  border-radius: 30px !important;
  border       : 0px !important;
  margin       : 0 !important;
}

.btn-line {
  width           : 40px;
  background-color: gray;
  height          : 5px;
  top             : 8px;
  position        : relative;
}

.slide-header__video {
  margin-bottom: 0 !important;
}

.download {
  padding: 0 !important;
}

.slide-text__download {
  margin-top: 60px;
}

.third-slide__mobile {
  display       : flex;
  flex-direction: column;
}

.slide-video {
  height : auto;
  margin : 2rem 0rem;
  padding: 0px;
  height : 50%;
}

#third-slide-pos {
  form * {
    font-size: 4vw;
  }

  form h4 {
    font-size: 6vw;
  }

  form {
    background: #24232C;
    box-shadow: -5px -5px 30px 5px #D9A404,
      15px 15px 0px 5px #007BFF;
    border-radius  : 25px;
    padding        : 2rem;
    min-width      : 230px;
    width          : 40vw;
    height         : 90vw;
    position       : relative;
    margin         : 8% auto 10% auto;
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
    padding-bottom : 20px !important;

    label {
      font-family: Roboto;
      font-style : normal;
      font-weight: normal;
      line-height: 23px;
      color      : #E1E1E1;
    }

    a {
      text-decoration: none;
      text-align     : center;
    }
  }

  form:after {
    content          : ' ';
    position         : absolute;
    right            : -15%;
    bottom           : -10%;
    width            : 80px;
    height           : 100px;
    background-image : url(../../../images/slide_2_how/pyramid.svg);
    background-repeat: no-repeat;
    background-size  : contain;
  }

  .bg-line_m {
    height       : 5px;
    border-radius: 5px;
    z-index      : -1;
    margin       : 1% auto;
  }

  .bg-line_m.n-1 {
    width     : 60vw;
    background: linear-gradient(90deg, #15C1E5, #D9A404);
  }

  .bg-line_m.n-2 {
    width     : 45vw;
    background: linear-gradient(90deg, #161012, #413100);
  }

  .bg-line_m.n-4 {
    width     : 45vw;
    background: linear-gradient(90deg, #151015, #007AFD);
  }

  .bg-line_m.n-5 {
    width        : 60vw;
    background   : linear-gradient(90deg, #D484FF, #027BFF);
    margin-bottom: 5% !important;
  }
}

@media (min-width: 0px) {

  .slide-header {
    margin-bottom: 30px;
    margin-top   : 15%;
  }

  .slide-text {
    font-size    : 21px;
    line-height  : 30px;
    margin-bottom: 60px;
  }

  .first-slider-image {
    margin-bottom: 60px;
  }

  .download {
    margin-bottom: 20%;
  }

  .slide-text__video {
    font-size  : 21px;
    line-height: 26px;
    padding    : 0 15%;
  }
}

@media (min-width: 600px) {
  .slide-header {
    margin-bottom: 45px;
    margin-top   : 150px;
    font-size    : 4rem;
  }
}

@media (min-width: 700px) {
  .slide-header {
    margin-top: 100px;
  }

  .slide-text {
    line-height: 40px;
    font-size  : 21px;
  }
}

//slide-height
.carousel {
  height: 228vw;
}

@media (min-width: 370px) {
  .carousel {
    height: 210vw;
  }
}

@media (min-width: 0) and (max-width: 500px) {
  .second-title {
    font-size: 33px !important;
  }

  .slide-text__registration,
  .slide-text__download {
    padding      : 0 15%;
    margin-bottom: 1rem;
  }
}

@media (min-width: 400px) and (max-width: 500px) {

  .carousel {
    height: 200vw;
  }

  #third-slide-pos {
    .slide-text {
      font-size  : 21px;
      line-height: 27px;
    }

    form h4 {
      font-size: 5.3vw;
    }
  }
}

@media (min-width: 500px) {

  .slide-text__registration,
  .slide-text__download {
    padding      : 0 15%;
    margin-bottom: 7.5vh;
  }

  .carousel {
    height: 184vw;
  }

  #third-slide-pos {
    form {
      width: 55vw;
    }

    form h4 {
      font-size: 5.2vw;
    }
  }
}

@media (min-width: 570px) {
  .carousel {
    height: 170vw;
  }

  #third-slide-pos {
    form {
      height: 80vw;
      width : 45vw;
    }
  }
}

// @media (max-height: 800px){

// }