#FAQ {

  margin-bottom: 10vh;

  #leftSide {
    margin-top: 20vh;
    display   : inline-block;

    .btn {
      background: rgba(36, 35, 44, 1) !important;
      text-align: left !important;
      transition: all 0.3s;
    }
  }

  #rightSide {
    float     : right;
    margin-top: 20vh;

    #numZone {
      height : 44vh;
      display: inline-block;

      #num {
        font-family   : Roboto;
        font-size     : 200px;
        font-style    : normal;
        font-weight   : 400;
        line-height   : 155px;
        letter-spacing: 0em;
        text-align    : center;
        margin-left   : 2rem;
      }
    }

    #answerZone {
      width: 35vw;
      float: right;

      #line {
        border       : 5px solid rgba(17, 249, 210, 0.3);
        background   : rgba(17, 249, 210);
        width        : 0;
        height       : 150px;
        border-radius: 10px;
        display      : inline-block;
        margin-top   : 1rem;
      }

      #question {
        font-family   : sans-serif;
        font-size     : 30px;
        font-style    : normal;
        font-weight   : 400;
        line-height   : 37px;
        letter-spacing: 0.03em;
        text-align    : left;
        margin-top    : 1rem;
        inline-size   : fit-content;
      }

      #answer {
        font-family   : sans-serif;
        font-size     : 25px;
        font-style    : normal;
        font-weight   : 400;
        line-height   : 34px;
        letter-spacing: 0.02em;
        text-align    : left;
        margin-left   : 1.5rem;
        width         : 32vw;
        float         : right;
      }
    }

    @media (max-width: 1601px) {
      #answerZone {
        width: 34vw;

        #answer {
          width: 31vw;
        }
      }

      #num {
        margin-left: 1rem !important;
      }
    }

    @media (max-width: 1350px) {
      #answerZone {
        width: 32vw;

        #answer {
          width: 28vw;
        }
      }
    }


    // @media (max-width: 991px) {}

    // @media (max-width: 767px) {}

    // @media (max-width: 575px) {}
  }

  #hidden_triangle {
    position: absolute;
    top     : 7%;
    left    : 26%;
  }

  #hidden_square {
    position: absolute;
    top     : 82%;
    right   : 4%;
  }

  button {
    outline: 0px;
  }

  button:hover {
    box-shadow: -2px -2px 20px 1px rgba(18, 194, 233, 0.5),
      5px 5px 20px 1px rgba(196, 113, 237, 0.5);
  }

  #layout {
    position    : relative;
    padding     : 1rem;
    margin      : 1rem -.75rem 0;
    border      : solid #dee2e6;
    border-width: 1px 0 0;
  }

  #accordionFAQ {
    margin-top: 3vh;

    button:hover {
      box-shadow: none;
    }

    .accordion-item {
      background   : rgba(22, 22, 27, 0.5);
      border-radius: 10px;

      .accordion-button::after {
        background-image: url(../../../images/slide_5_FAQ/plus.svg)
      }

      .accordion-button {
        color         : white;
        background    : #24232C;
        border-radius : 10px;
        margin-top    : 2vh;
        padding-left  : 4vw;
        padding-right : 4vw;
        font-family   : PT Serif;
        font-size     : 18px;
        font-style    : normal;
        font-weight   : 400;
        line-height   : 24px;
        letter-spacing: 0.03em;
        text-align    : left;

        span {
          margin-right  : 4vw;
          font-family   : Roboto;
          font-size     : 40px;
          font-style    : normal;
          font-weight   : 400;
          line-height   : 47px;
          letter-spacing: 0em;
          text-align    : center;
        }
      }

      .accordion-body {
        color         : white;
        font-family   : Noto Sans;
        font-size     : 14px;
        font-style    : normal;
        font-weight   : 400;
        line-height   : 25px;
        letter-spacing: 0.02em;
        text-align    : center;

        p {
          margin-bottom: 0px;
        }

        .endline {
          width        : 175px;
          height       : 0px;
          margin-right : auto;
          display      : inline-block;
          border       : 2px solid rgba(17, 249, 210, 0.7);
          margin-left  : auto;
          border-radius: 10px;
          position     : initial;
        }
      }
    }
  }
}

@media (min-width: 768px) and(max-width: 1280px) {

  #FAQ #accordionFAQ .accordion-item .accordion-button {
    font-size: 25px;
  }
}