@font-face {
  font-family: "Oswald";
  src        : url(../fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Alata";
  src        : url(../fonts/Alata-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src        : url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Raleway";
  src        : url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Noto Sans";
  src        : url(../fonts/NotoSans-Regular.ttf);
}

body {
  background: #000000;
  padding   : 0 0vw;
  margin    : 0;
}

.slide {
  padding: 0 5vw;
  margin : 8px;
  height : 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li {
  color: white;
}

.wrap-slide {
  position   : relative;
  padding-top: 1vh;
}

.h1-main {
  position   : relative;
  margin-left: 3vw;
  font-weight: normal;
  font-size  : 4rem;
  font-family: Oswald;

  .slide-number {
    font-size  : 7rem;
    font-family: Alata;
    position   : absolute;
    top        : -1.5vh;
    left       : -4vw;
  }
}

// body {
//   background-color: black;
//   color           : aliceblue;
//   text-align      : center;
//   overflow-x      : hidden;
// }

li,
p,
h5 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


// .nav-link {
//   text-align : center;
//   font-size  : larger;
//   font-weight: bold;
// }