@font-face {
  font-family: "Oswald";
  src        : url(../fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Alata";
  src        : url(../fonts/Alata-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src        : url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Raleway";
  src        : url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Noto Sans";
  src        : url(../fonts/NotoSans-Regular.ttf);
}

body {
  background: #000000;
  padding   : 0 0vw;
  margin: 0;
}
.slide{
  padding   : 0 3vw;
  margin: 8px;
  
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li {
  color: white;
}

.slide {
  height: 100vh;
}

.wrap-slide {
  position   : relative;
  padding-top: 1vh;
}

.h1-main {
  margin-left: 3vw;
  font-weight: normal;
  font-size  : 4rem;
  font-family: Oswald;

  position: relative;

  .slide-number {
    font-size  : 7rem;
    font-family: Alata;
    position   : absolute;
    top        : -1.5vh;
    left       : -4vw;
  }
}