@import '../../node_modules/bootstrap/scss/bootstrap.scss';

//* Шрифты
@font-face {
  font-family: "Oswald";
  src        : url(../fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Alata";
  src        : url(../fonts/Alata-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src        : url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Raleway";
  src        : url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Noto Sans";
  src        : url(../fonts/NotoSans-Regular.ttf);
}

html {
  overflow-x: hidden;
  width     : 100%;
  height    : 100%;
}

body {
  background: #000000;
  padding   : 0;
  margin    : 0;
  overflow-x: hidden;
}

.slide {
  overflow-x: hidden;
  width     : 100%;
  padding   : 0 5vw;
  margin    : 0;
  min-height: 100vh;
}

.slide__what {
  min-height   : inherit !important;
  margin-bottom: 100px;
}

.slide__slider {
  min-height: inherit !important;
}

.slide__footer {
  min-height       : inherit !important;
  // padding-bottom: 25px;
}

@media (max-width: 760px) {
  .slide {
    min-height   : inherit !important;
    margin-bottom: 100px !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li {
  color: white;
}

img {
  user-select   : none;
  // overflow   : hidden;
}

.wrap-slide {
  position      : relative;
  // padding-top: 1vh;
}

.h1-main {
  position   : relative;
  margin-left: 3vw;
  font-weight: normal;
  font-family: Oswald;

  .slide-number {
    font-family : Alata;
    font-style  : normal;
    font-weight : normal;
    position    : absolute;
    margin-right: 0.5rem;
    top         : -21px;
    left        : -4vw;
    font-size   : 100px;
    line-height : 138px;
  }

  .slide-title {
    font-family   : Oswald;
    font-style    : normal;
    font-weight   : normal;
    font-size     : 42px;
    line-height   : 62px;
    letter-spacing: 0.03em;
    color         : #FFFFFF;
    border-bottom : 2px solid rgba(53, 53, 53, 0.7);
  }
}

@media (max-width: 1440px) {
  .h1-main .slide-title {
    margin-left: 5vw;
  }
}

@media (max-width: 767px) {
  .h1-main .slide-title {
    margin-left: 10vw;
  }
}

@media (max-width: 500px) {
  .h1-main .slide-title {
    margin-left: 15vw;
    font-size  : 36px;
  }
}

// body {
//   background-color: black;
//   color           : aliceblue;
//   text-align      : center;
//   overflow-x      : hidden;
// }

li,
p,
h5 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


// .nav-link {
//   text-align : center;
//   font-size  : larger;
//   font-weight: bold;
// }

body,
html {
  width             : 100%;
  // height         : 100%;
  scrollbar-color   : #458245 #714826;
  /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width   : thin;
  /* толщина */
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  background-color: transparent;
  width           : 10px;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color   : rgba(41, 40, 40, 0.746);
  border-radius      : 10px;
  // border          : 1px solid rgba(112, 128, 144, 0.418);
}

// ::-webkit-scrollbar-thumb:hover {
//   background-color: transparent;
//   // border          : 1.5px solid rgba(240, 248, 255, 0.397);
// }