.footer_slide {
    height : 100vh;
    display: -webkit-inline-flex;
    display: inline-flex;
}
.footer_left{
    width: 43%;
}
.footer_middle{
    width: 32%;
}
.footer_right{
   width: 25%;
}
.footer_parts {
    height: 100vh;
}