.footer_slide {
    height : 100vh;
    display: -webkit-inline-flex;
    display: inline-flex;
}
.footer_left{
    width: 43%;
   
}
.footer_middle{
    top: 9%;
    position: relative;
}
.footer_right{
   width: 25%;
}
.footer_parts {
     margin-bottom: 12%;
}



.question_form{
    top: 4%;
    left: -7%;
    background-color: transparent;
    background-image: url('../../../images/two_textboxes.svg');
    margin: 0 !important;
    background-size: cover;
    height: 84%;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    padding: 15% 10% 2% 10%;
}


.question_button{
    float: right;
    width: 31%;
}

.question{
    height: 60%;
}

#exampleFormControlTextarea1{
    height: 100%;
    
}




.three_figures{
    width: 57%;
    top:48%;
    left: 12%;
    position: relative;
}
.arrow_to_contacts{
    left: 72%;
    top: 23%;
    width: 68%;
    position: relative;
}

.text_developed{
    top: 34%;
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    color: #747474CC;
}

.text_underline{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    color: #747474CC;
    text-decoration: underline;
}
.mail_and_telephone{
    left: 47%;
    top: 9%;
    position: absolute;
}

.wrong_card {
    width: 80%;
    margin-left: 9%;
    margin-top: 5%;
}

.wrong_card2 {
    width: 80%;
    margin-left: 19%;
    margin-top: 5%;
}

.dark{
    background-color: black !important;
}

.footer-middle {
    margin-left: 3% !important;
}

.footer_right{
    margin-left: 10%;
}

.policy_market{
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #585858;
    margin-bottom: 16%;
}

.two_icons{
    margin-bottom: 6%;
    margin-top: 91% !important;
}

.two_lines{
    left: 22%;
    top: -12%;
    position: relative;
}

.copyright{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF80;
    position: relative;
    top: -11%;
    width: 167%;

}
#email{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #BEC6CD;

}

#telephone{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #BEC6CD;
}