@media (min-width: 300px) and (max-width: 779px) {
  .footer-header {
    margin-left: 17%;
  }

  .footer-mainheader {
    margin-bottom: 10%;
  }

  .question {
    height: 30%;
  }

  .question_form {
    width      : 90%;
    margin-left: 11%;
    top        : 0vh;
  }

  .wrong_card {
    margin-top  : 2.5vh;
    padding-left: 1.5rem;
  }

  #inputEmail {
    background-color: transparent;
    border-color    : transparent;
    border-bottom   : 1px solid #353535;
    border-radius   : 0;
    width           : 70%;
    left            : 7%;
    position        : relative;
    margin-bottom   : 15%;
    font-family     : Roboto;
    font-size       : 20px;
    font-style      : normal;
    font-weight     : 400;
    line-height     : 23px;
    letter-spacing  : 0em;
    text-align      : left;
  }

  #formControlTextarea {
    background-color: transparent;
    border-color    : transparent;
    border-bottom   : 1px solid #353535;
    border-radius   : 0;
    height          : 10%;
    width           : 90%;
    left            : 7%;
    position        : relative;
    font-family     : Roboto;
    font-size       : 20px;
    font-style      : normal;
    font-weight     : 400;
    line-height     : 23px;
    letter-spacing  : 0em;
    text-align      : left;

  }

  .question_button {
    width: auto;
  }

  .email-telephone {
    font-family: Roboto;
    font-style : normal;
    font-weight: normal;
    font-size  : 21px;
    line-height: 25px;
    margin-left: 4%;
    margin-top : -0.5%;
    white-space: nowrap;
  }

  .green-card {
    left: -12%;
  }

  .four-words {
    width: 90%;
  }

  .icons_mobile {
    width         : 37%;
    height        : 100%;
    top           : 13%;
    position      : relative;
    display       : flex;
    flex-direction: column;
    margin-top    : 10%;
  }

  .footer__links_mobile {
    height     : 16%;
    width      : 50%;
    margin-left: 25%;
    margin-top : 5%;
  }

  .footer__line {
    width      : 82%;
    margin-left: 10%;
  }

  .footer__links_mobile_second {
    height: 20%;
  }

  .vk_gray {
    width: 100%;
  }

  .discord_gray {
    width: 110%;
  }

  .footer__links_mobile_third {
    height       : 13%;
    margin-top   : 2%;
    margin-bottom: 7%;
    margin-left  : 30%;
  }

  .telegram_gray {
    width : 80%;
    height: auto;
  }

  .policy_market {
    font-family: Roboto;
    font-style : normal;
    font-weight: normal;
    font-size  : 33px;
    line-height: 39px;
  }

  .three_figures1 {
    width      : 70%;
    margin-top : 15%;
    margin-left: 5%;
  }

  .text-developed {
    font-family  : Roboto;
    font-style   : normal;
    font-weight  : normal;
    font-size    : 20px;
    line-height  : 23px;
    text-align   : center;
    margin-top   : 6% !important;
    margin-bottom: 10% !important;
  }

  .copyright {
    text-align: center;
  }

  @media (min-width: 550px) {
    .email-telephone {
      font-size  : 27px;
      margin-left: 10%;
      margin-top : 7%;
    }

    .policy_market {
      font-size : 40px;
      margin-top: 10%;
    }

    .text-developed {

      margin-bottom: 5% !important;
    }

    .question_button {
      margin-top: 7%;
    }

    #inputEmail {
      font-size: 26px;
    }

    #formControlTextarea {
      font-size: 26px;
    }
  }
}