.slide-1 {
  margin-top: 100px;

  img.bw-ammo {
    margin-left: 5vw;
  }

  ul {
    position: absolute;
    top     : 30vh;
    left    : 40vw;
    display : inline-block;

    li {
      font-size    : 1.7rem;
      margin-bottom: 15px;
    }
  }
}