.slide-1 {
  ul {
    margin-top: 20vh;
    width     : 50%;
    float     : right;

    li {
      font-size    : 1.7rem;
      margin-bottom: 15px;
    }
  }

  img#bwAmmo {
    height     : 85vh;
    width      : 32%;
    margin-left: 5rem;
  }
}



img#smile {
  position: absolute;
  right   : 11%;
}

img#triangle {
  position: absolute;
  bottom  : -79%;
  right   : 48%;
}