button,
input {
  overflow: visible;
}

#formRegistration {
  padding: 10vh 35vw;
  margin : auto;
}

label.next-in-group {
  margin-top   : 0.25rem;
  margin-bottom: 0.25rem;
}

h3 {
  text-align    : center;
  margin        : 0;
  line-height   : 1;
  padding-bottom: 20px;
}

/* РЕГИСТРАЦИЯ */
.mb-custom-4 {
  margin-bottom: 2rem;
  position     : relative;
}

.errorSmall {
  color: tomato !important
}

input.form-control {
  background   : #F0F8FF;
  border-radius: 10px;
}

input.g-light {
  box-shadow: 0px 0px 20px 3px #31E2C5;
}

input.r-light {
  box-shadow: 0px 0px 25px 3px #DD1427;
}

button {
  width: 100%;
}


// Стрелочки подсказок
#hint_email {
  position: absolute;
  left    : 21.5vw;
  top     : 0.9vh;
}

#hint_nickname {
  position: absolute;
  right   : 21.5vw;
  top     : 2.5vh;
}

#hint_password_check {
  position: absolute;
  right   : 21.8vw;
  top     : 1.4vh;
}

#hint_steam {
  position: absolute;
  top     : -4vh;
  left    : 21.5vw;
}

// Текст подсказок
.orange {
  color      : rgba(217, 164, 4, 1);
  font-weight: 300;
}

.hint {
  font-family   : Roboto;
  font-size     : 22px;
  font-style    : normal;
  font-weight   : 400;
  line-height   : 32px;
  letter-spacing: 0em;
  text-align    : center;
}

#hint_email_text {
  position: absolute;
  left    : 19vw;
  top     : 11vh;
  width   : 24rem;
}

#hint_nickname_text {
  position: absolute;
  right   : 21vw;
  bottom  : 2vh;
  width   : 28vw;
}

#hint_password_check_text {
  position: absolute;
  right   : 20vw;
  top     : 12.5vh;
  width   : 25vw;
}

#hint_steam_text {
  position  : absolute;
  text-align: left;
  left      : 24vw;
  top       : -12vh;
  width     : 25vw;
}


// Картинки
#circle {
  position: absolute;
  right   : 12%;
  top     : 6%;
  z-index : 1;
}

#hidden_triangle {
  position: absolute;
  right   : 10%;
  top     : 5%;
}

#desctiption {
  position      : absolute;
  text-align    : right;
  right         : 5%;
  bottom        : 15%;
  font-family   : sans-serif;
  font-size     : 22px;
  font-style    : italic;
  font-weight   : 100;
  line-height   : 33px;
  letter-spacing: 0.02em;
}

// Адаптация 

// Не нужно
// @media (min-width: 1450px) and (max-width: 1600px) {}

@media (min-width: 1250px) and (max-width: 1450px) {
  #hint_nickname_text {
    position: absolute;
    right   : 21vw;
    bottom  : 2vh;
    width   : 35vw;
  }

  #hint_password_check_text {
    position: absolute;
    right   : 20vw;
    top     : 12.5vh;
    width   : 35vw;
  }
}

@media (min-width: 1000px) and (max-width: 1249px) {
  #formRegistration {
    padding: 10vh 25vw;
  }

  #hint_email_text {
    left : 41.5vw;
    top  : 11vh;
    width: 16rem;
  }

  #hint_email {
    left : 42.5vw;
    top  : 1vh;
    width: 14vw;
  }

  #hint_nickname_text {
    right : 44vw;
    bottom: 2vh;
    width : 20vw;
  }

  #hint_nickname {
    right: 41.5vw;
    top  : 2.5vh;
    width: 16vw;
  }

  #hint_password_check_text {
    right: 42vw;
    top  : 11vh;
    width: 25vw;
  }

  #hint_password_check {
    right: 42.8vw;
    top  : 1.2vh;
    width: 14vw;
  }

  #hint_steam_text {
    left : 42vw;
    top  : -12vh;
    width: 28vw;
  }

  #hint_steam {
    position: absolute;
    top     : -3.7vh;
    left    : 42.5vw;
  }
}

@media (min-width: 375px) and (max-width: 1000px) {
  #formRegistration {
    padding: 10vh 10vw !important;
  }

  #desctiption {
    display: none;
  }

  #circle {
    position: absolute;
    right   : 3%;
    top     : 12%;
    z-index : 1;
    width   : 2rem;
  }
  @media (max-width: 760px){
    #registration-anchor{
      height: inherit !important;
    }
    #formRegistration {
      padding-bottom: 0 !important;
    }
  }
}