
.slide.slide_without_padding.slide_without_padding{
    padding: 0 0vw;
    margin: 0px;
    /*background-image: url(../../../images/fourth_background.svg);
    background-size: 100vw, auto;
    background-repeat: no-repeat;
    */
    
}

.slide-4{
    
    .big-capture {
        position: relative;
        
        float: right;
        margin-right: 10vw;
        .grid_window{
            left: -56vw;
            top: 0vh;
            z-index: -2;
            position: absolute;
        }
        .power_container{
            left: -31vw;
            top: 43vh;
            position: absolute;
        }
        .safety_container{
            left: -71vw;
            top: 25vh;
            position: absolute;
        }
        .trust_container{
            left: -67vw;
            top: 72vh;
            position: absolute;
        }
        .containers{
            
            p{
                display: block;
                font-family: PT Serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0.02em;
                text-align: left;
                left: 10%;
                top: 10%;
               
            }
            
        }
    }
    .fourth_background{
        width:100%;
        z-index: -3;
    }
   

  }